
@media  screen and (max-width: 600px) {
    /*header*/
    .container-header {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 10px;
        gap: 20px;
    }
    .title-container-header {
        text-align: left;
        font-size: 2rem;
        line-height: 100%;
        text-transform: uppercase;
        width: 250px;
        color: white;
    }
    .paragraph-header {
        font-size: .9rem;
        color: white;
        text-align: left;
        width: 340px;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    button {
        border: none;
        border-radius: 28px;
        height: 45px;
        font-size: .6rem;
        box-shadow: 1px 3px 1px #00000025;
    }
    #button-download {
        color: #23272A;
        background-color: white;
        font-size: .8rem;
    }
    #button-website {
        color: #FFFFFF;
        background-color: #23272A;
        font-size: .8rem;
    }
    /*header*/

    /*1st section and 3rd section*/

    .study-group-content-01 {
        flex-direction: column-reverse;
    }

    .study-group-content-02 {  
        flex-direction: column-reverse;
    }

    .study-group-content-03 {  
        flex-direction: column;
        gap: 20px;
    }

    .study-group-content-04 {
        flex-direction: column;
    }

    .image-4th-section {
        margin: auto;
        width: 100%;
    }

    .text-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        gap: 20px;
        text-align: left;
        width: 100%;
    }
    
    h2 {
        font-size: 1.4rem;
        width: 400px;
    }

    p {
        width: 400px;
    }

    .text-4th-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        width: 400px;
    }

    .header-4th-section {
        text-align: left;
        width: 100%;
    }

    .paragraph-4th-section {
        text-align: left;
        width: 100%;
    }

}